@model CGI.Reflex.Web.Areas.Servers.Models.Landscapes.LandscapesEdit
@{
    ViewBag.Title = "Créer un landscape";
}

<section>
    <div class="page-header">
        <h1>Créer un landscape</h1>
    </div>
</section>

@Html.Partial("_Form")