@model CGI.Reflex.Web.Areas.Servers.Models.Landscapes.LandscapesEdit
@{
    ViewBag.Title = "Editer le landscpae " + Model.Name;
}

<section>
    <div class="page-header">
        <h1>Editer le landscape @Model.Name
            @Html.HistoryLink("Landscape", Model.Id, "btn-mini", "Voir l'historique")
        </h1>
    </div>
</section>

@Html.Partial("_Form")