@model CGI.Reflex.Web.Areas.System.Models.Users.UserEdit
@{
    ViewBag.Title = "Créer un utilisateur";
}

<section>
    <div class="page-header">
        <h1>Créer un utilisateur</h1>
    </div>
</section>

@Html.Partial("_Form")

