@model CGI.Reflex.Web.Areas.Applications.Models.Integrations.IntegrationEdit
@{
    ViewBag.Title = "Ajout d'une intégration";
}

<div class="page-header">
    <h2>
        Ajout d'une intégration
    </h2>
</div>
@Html.Partial("_Form", Model)
