@model CGI.Reflex.Web.Areas.System.Models.Questions.QuestionEdit
@{
    ViewBag.Title = "Modification d'une question";
}

<section>
    <div class="page-header">
        <h1>Modification d'une question</h1>
    </div>
</section>

@Html.Partial("_Form")