@model CGI.Reflex.Web.Areas.Organizations.Models.Contacts.ContactEdit
@{
    ViewBag.Title = "Ajout d'un contact";
}
<div class="page-header">
    <h2>Ajout d'un contact</h2>
</div>

@Html.Partial("_Form")