@model CGI.Reflex.Web.Areas.Organizations.Models.Contacts.ContactEdit
@{
    ViewBag.Title = "Édition d'un contact";
}

<div class="page-header">
    <h2>Édition d'un contact</h2>
</div>

@Html.Partial("_Form")