@model int?

@using CGI.Reflex.Core
@using CGI.Reflex.Core.Entities

@{
    Contact contact = null;
    if(Model.HasValue)
    {
        contact = References.NHSession.Load<Contact>(Model.Value);
    }
}

<div class="input-append">
    @Html.HiddenFor(m => m)
    <input id="textbox-@ViewData.TemplateInfo.HtmlFieldPrefix" type="text" class="span2" style="width: 176px;" disabled="disabled" value="@(contact != null ? contact.FullName : "")" />
    @Ajax.LargeModalActionLinkRaw("...", "ContactsModal", "Pickers", new { area = "", selectionMode = "single", addFunctionName = "selectContact_" + ViewData.TemplateInfo.HtmlFieldPrefix }, new { @class = "btn", rel = "tooltip", title = "Sélectionner un contact", style = "margin-top: 0; margin-left: -4px; margin-bottom: 9px;" })
</div>
<script type="text/javascript">
    var selectContact_@(ViewData.TemplateInfo.HtmlFieldPrefix) = function(contactId, contactName) {
        $("input[id=@(ViewData.TemplateInfo.HtmlFieldPrefix)]").val(contactId);
        $("input[id=textbox-@(ViewData.TemplateInfo.HtmlFieldPrefix)]").val(contactName);
    };
</script>