@{
    ViewBag.Title = "Embarquement";
    ViewBag.FlashPosition = "offset4 span4";
}
<div class="row">
    <div class="span4 offset4 well">
        Ce lien n'est plus actif. Vous devez demander à un administrateur sa ré-activation.
    </div>
</div>
