@{
    ViewBag.Title = "Mot de passe oublié";
    ViewBag.FlashPosition = "offset4 span4";
}
<div class="row">
    <div class="span4 offset4">
        @using (Html.BeginForm("ResetPassword", "UserSessions", FormMethod.Post, new { @class = "well" }))
        {
            <fieldset style="margin-bottom: 0">
                <legend>Mot de passe oublié</legend>
                
                <div class="control-group">
                    <label for="UserNameOrEmail">Nom d'utilisateur ou courriel</label>
                    <input type="text" id="UserNameOrEmail" name="UserNameOrEmail" />
                </div>
            </fieldset>
            
            <input type="submit" value="OK" class="btn btn-primary" />
            <a href="@Url.Action("Login")" class="btn">Annuler</a>
        }
    </div>
</div>

@section javascript
{
    $(function() {
        $("#UserNameOrEmail").focus();
    });
}
