@model CGI.Reflex.Web.Areas.System.Models.DomainValues.DomainValueEdit
@{
    ViewBag.Title = "Créer une valeur";
}

<section>
    <div class="page-header">
        <h1>Créer une valeur</h1>
    </div>
</section>

@Html.Partial("_Form")