@model CGI.Reflex.Web.Areas.Servers.Models.Servers.ServerEdit
@{
    ViewBag.Title = "Créer un serveur";
}

<section>
    <div class="page-header">
        <h1>Créer un serveur</h1>
    </div>
</section>

@Html.Partial("_Form")

