@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ServerHeader")

<div class="row">
    <div class="tabbable tabs-left">
            @Html.Partial("_ServerNav")
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
</div>
