<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="reflex"
         connectionString="[ConnectionString]"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <reflex environment="Production"
          recreateDatabase="false"
          autoCreateUsers="false"
          encryptionKey="[EncryptionKey]"
          enableASPNetCache="true"
          slowRequestThreshold="2000"
          xdt:Transform="Replace" />

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="[MailFrom]"
            deliveryMethod="Network">
        <network host="[SmtpHost]" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <system.webServer>
    <applicationInitialization remapManagedRequestsTo="" skipManagedModules="false" doAppInitAfterRestart="true" xdt:Transform="Insert">
      <add initializationPage="/login" />
    </applicationInitialization>

    <rewrite xdt:Transform="Insert">
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <glimpse defaultRuntimePolicy="Off" xdt:Transform="Replace" endpointBaseUri="~/Glimpse.axd" />

  <log4net>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="[LogFolder]" xdt:Transform="SetAttributes" />
    </appender>

    <appender name="TraceAppender" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <appender name="NHSQLAppender" xdt:Locator="Match(name)" xdt:Transform="Remove" />

    <logger name="NHibernate" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <logger name="NHibernate.SQL" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </log4net>

</configuration>