@model CGI.Reflex.Web.Areas.Applications.Models.Events.EventEdit
@{
    ViewBag.Title = "Ajout d'un événement";
}

<div class="page-header">
    <h2>
        Ajout d'un événement
    </h2>
</div>

@Html.Partial("_Form", Model)
